@import "../../styles/styleguide.scss";

.filter__section {
  .applied__filters {
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: space-for-units(2);
    padding: space-for-units(2) 0;
    .filter_control {
      background-color: $white;
      border-radius: 20px;
      display: flex;
      gap: space-for-units(1);
      padding: space-for-units(1) space-for-units(2);
      color: $grey-60;
      border: 1px solid $grey-50;
      align-items: center;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 700;
      img {
        width: 12px;
        height: auto;
        display: block;
      }
    }
  }
  hr {
    margin-top: 0;
    margin-bottom: space-for-units(1);
  }
}
