@import "../../styles/styleguide.scss";

.calendar {
  display: flex;
  padding: space-for-units(1.25) space-for-units(2.25);
  background-color: $blue-15;
  position: relative;
  flex-direction: column;
  @media (min-width: 664px) {
    padding: space-for-units(4) space-for-units(5);
    padding-right: space-for-units(5);
  }

  &::before {
    content: "";
    width: 56px;
    height: 56px;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("/images/calendar-shapes-1.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  &::after {
    content: "";
    width: 56px;
    height: 56px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url("/images/calendar-shapes-2.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
